<div class="container-fluid">
	<div class="row">

		<div class="col-md-6 main-content">
			<div id="wrapper">
		          <h1>College Football News</h1>
		          <a href="/scrape"><i>Click to look for new content.</i></a>
				<br> 
				<br>
			</div>

			<!-- take each article and display the title and link, as well as some div tags to put the comments and to add comments, from. -->
	        {{#each article}}
	            <p data-id="{{this._id}}">{{this.title}}<p>
	            <a href="http://www.espn.com/college-football/{{this.link}}">Story Link</a>
	            <br>
	            <br>
	        {{/each}}
			

	    </div>

	    <div class="col-md-6">
	        <div id="notes"></div>
	        <div id="past_notes"></div>
	    </div>


	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
