<div class="container main-screen">

    <div class="col-md-6 steve">
        <p class="welcome-text">
            Welcome to the news!
        </p>
        <br>
        <br>
        {{#each articles}}
        	<p>Title: {{this.title}}</p>
            <p>Link: {{this.link}}</p>
            <form class="create-form add-burger" action="/" method="POST">
                <div class="form-group">
                    <p><label for="author_name">Author:</label>
                    <input type="text" id="author_name" name="name" placeholder="Name"></p>
                    <p><label for="authors_comment">Comment:</label>
                    <input type="text" id="authors_comment" name="comment" placeholder="This needs help..."></p>
                </div>
                <button type="submit btn-primary">Submit Comment</button>
            </form>
        {{/each}}
    </div>

</div>


